<!doctype html>
<html class='no-js' lang='en'>
<head>
  <meta charset='utf-8'>
  <title>{{title}}</title>
  <meta name='description' content='static-generated site made with md_puppy'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta property='og:site_name' content='{{site_name}}'>
  <meta property='og:title' content='{{title}}'>
  <meta property='og:description' content='{{description}}'>
  <meta property='og:type' content='website'>
  <meta property='og:url' content='https://softannalee.neocities.org{{output_path}}/{{filename}}.html'>
  <meta property='og:image' content='https://softannalee.neocities.org{{output_path}}/{{filename}}.png'>
  <link rel='stylesheet' href='/css/normalize.css'>
  <link rel='stylesheet' href='/css/main.css'>
  <base href='{{base_url}}'>
</head>
<body>
<main>
<header>
{{topnav}}
</header>
<article>
{{content}}
</article>
</main>
</body>
</html>
